version: "3.4"

services:
  authn_service:
    image: cybercucumber/authn_service:latest

  nginx:
    container_name: nginx
    build:
      context: .
      dockerfile: Dockerfile.nginx
    depends_on:
      - authn_service
    ports:
      - 80:80
