[Unit]
Description=flask_authn.service
After=network.target

[Service]
User=root
Restart=on-failure
RestartSec=10
WorkingDirectory=/home/authn/repo
Environment=DB_PASS={{ db_pass }}
Environment=DB_USER=authn
Environment=DB_LOC=pg_db
Environment=DB_PORT=5432
Environment=DB_NAME=authn
Environment=JWT_KEY={{ db_pass }}
ExecStart=/bin/bash -c "docker-compose up"
ExecStop=/bin/bash -c "docker-compose down"

[Install]
WantedBy=multi-user.target
