- name: Install and start app 
  hosts: all
  vars_files:
    - global_vars.yaml
  roles:
    - role: git
      become: true
    - role: docker
      become: true
    - role: clone-git-repo
      become: true
    - role: decrypt
    - role: start_app
      become: true
